.button {
    background-color: #7C8FC8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.center-block {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.input-group {
    position: relative;
    display: table;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: separate;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.login-block-header {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eee;
}

@media (min-width: 501px) {
    .login-block {
        width: 380px;
        padding: 20px;
        margin: 60px auto;
        background: #fff;
    }
}

@media (max-width: 500px) {
    .login-block {
        width: 100%;
        margin: 60px auto;
        background: #fff;
    }
    .col-md-offset-1 {
        margin-right: 20px;
        margin-left: 20px;
    }
}
